#header{
    position:relative;
	display: block;
	height: 40px;
	width: 400px;
	text-align: center;
	background-color: lightseagreen;
    font-size: 20px;
	text-decoration: none;
	margin:auto;
	font-family: "Maiandra GD";
}

#button1p{
	position:relative;
	height: 50px;
	width: 1000px;
	font-size: 20px;
	font-family: Candara;
	background-color: white;
	padding-left: 480px;

}
#button1{
    position:relative;
	height: 50px;
	width: 100px;
	background-color: aquamarine;
    font-size: 20px;
	font-family: Candara;
}


#car_input_form{
	position:relative;
	height: 50px;
	width: 300px;
	font-size: 20px;
	font-family: Candara;
	background-color: white;
	padding-left: 480px;

}
#company_input_form{
	position:relative;
	height: 50px;
	width: 300px;
	font-size: 20px;
	font-family: Candara;
	background-color: white;
	padding-left: 480px;
	margin-top: 120px;

}


#button2p{
	position:relative;
	height: 50px;
	width: 1000px;
	font-size: 20px;
	font-family: Candara;
	background-color: white;
	padding-left: 480px;
	margin-top: 100px;

}
#button2{
    position:relative;
	height: 50px;
	width: 100px;
	background-color: aquamarine;
    font-size: 20px;
	font-family: Candara;
}


#button3p{
	position:relative;
	height: 50px;
	width: 1000px;
	font-size: 20px;
	font-family: Candara;
	background-color: white;
	padding-left: 480px;


}
#button3{
    position:relative;
	height: 50px;
	width: 100px;
	background-color: aquamarine;
    font-size: 20px;
	font-family: Candara;
}


#query_res_div{
	position: relative;
	height: 300px;
	width: 300px;
	background-color: aquamarine;
    font-size: 20px;
	font-family: Candara;
	margin-top: -460px;
}